### venv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

!/Ui_MainWindow.py

/build
/dist
/.idea
/.vscode
.idea/
.vscode/
.dist/
.build/
.idea/
.vscode/
.build/
.dist/
.cache/
.pytest_cache/
.env/
.venv/
.__pycache__/
/__pycache__/
desktop.ini
.idea/desktop.ini
AI/Desktop.ini
Musique/desktop.ini
Programmation/desktop.ini
jeux/desktop.ini
perso/desktop.ini
Montage Video/Desktop.ini
.idea/desktop.ini
.vscode/desktop.ini
.idea/copilot/desktop.ini
.idea/inspectionProfiles/desktop.ini
__pycache__/desktop.ini
.__pycache__/desktop.ini
.__pycache__
__pycache__
refs/tags/desktop.ini
.refs.tags/desktop.ini
.refs/tags/desktop.ini
./refs/tags/desktop.ini
.refs/
=======
